@keyframes flip {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.6);
    }

    100% {
        transform: scale(1);
    }
}

.flip {
    animation: flip .4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes spin {
    0% {
        transform: rotateZ(0);
    }

    100% {
        transform: rotateZ(180deg);
    }
}

.spin {
    animation: spin .5s infinite;
}

@keyframes fadeOut {
    0% {}

    100% {
        opacity: 0;
    }
}

.fadeOut {
    animation: fadeOut .5s forwards;
}

@keyframes shiver {

    0%,
    100% {
        transform: rotateZ(4deg);
    }

    50% {
        transform: rotateZ(-4deg);
    }
}

.shiver {
    animation: shiver .1s infinite;
}

@keyframes slideDown {

    0% {
        transform: translateY(-200%);
    }

    100% {}
}

.slideDown {
    animation: slideDown 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

@keyframes slideUp {

    0% {
        transform: translateY(100%);
    }

    100% {}
}

.slideUp {
    animation: slideUp 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

@keyframes press {

    0% {}

    20% {
        transform: scale(.92);
    }

    100% {}
}

.press {
    animation: press .2s;
}

@keyframes exitUp {

    0% {}

    100% {
        transform: translateY(-100%);
    }
}

.exitUp {
    animation: exitUp 1s cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards;
}