.btn {
    cursor: pointer;
    font-family: var(--fontTitle);
    max-width: fit-content;

    background: var(--primary);
    padding: .5rem;
    text-align: center;
    border-radius: 6px;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--secondary);
    border: .2em solid var(--h2);

    display: inline-block;
}

.btn:hover,
.btn:active {
    background: var(--h2);
}

.btn:active {
    animation: press .2s;
}