.btn {
    cursor: pointer;
    font-family: var(--fontTitle);
    max-width: fit-content;

    background: var(--primary);
    height: 2rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 6px;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--secondary);
    border: .2em solid var(--h2);
}

.btn:active .btn:hover {
    animation: press .2s;
}