canvas {
    max-height: 80vh;
    max-width: 90vh;
    /* filter: invert(); */
}

#leftPage {
    border-radius: .5rem 2rem .5rem .5rem;
    border: solid 20px rgb(170, 202, 24);
}

#rightPage {
    border-top-left-radius: 20px;
    border: solid 20px rgb(195, 0, 255);
}