.closedbook {
    display: block;

    margin: 4% 0 5% 0;
    position: relative;
    width: 46.5%;
    height: 130.2vh;
    background: var(--primary);
    border: .3rem solid var(--primary);
    border-radius: 3px 10px 10px 3px;
    overflow: hidden;
    box-shadow: 6px 0 rgb(156, 156, 156), 10px 0 var(--primary);

    padding: 3rem;
}

.closedbook:hover input {
    animation: shiver 2s infinite;
}